@import 'app/variables';
@import "app/partner-carousel";
@import "app/call_to_action";

/********OVERRIDE BOOTSTRAP***********/
header {
  & .jumbotron {
	margin-bottom: 0;
	background: url("/img/stock-photo-silhouette-teams-engineer-looking-construction-worker-in-a-building-site-at-sunset-673739137.jpg") center center;
	background-size: cover;
  }



  & .display-4{
	padding: 0 2rem;
	background: rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px -8px 13px 25px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px -8px 13px 25px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 18px 18px rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
  }
}

/********SERVICES**********/
#services-quality-section{

  padding-top: $section_spazio_default;
  padding-bottom: $section_spazio_default;

}

/********ABOUT**********/
#tecnici-techno-service-section{

  padding-top: $section_spazio_default;
  padding-bottom: $section_spazio_default;

}
#contatti-about-section{

  padding-top: $section_spazio_default;
  padding-bottom: $section_spazio_default;

}

#intro-azienda-section{
  padding-top: $section_spazio_default;
  padding-bottom: $section_spazio_default_half;

}
.timeline-title{
  padding-top: $section_spazio_default;

}



/* ================ The Timeline ================ */

$light-primary: #C5CAE9;
$text: #FFFFFF;
$primary-text: #212121;
$secondary-text: #757575;
$accent: #FF4081;

.timeline {

  position: relative;

  &::before {
	content: '';
	background: $brand_nero;
	width: 5px;
	height: 95%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
  }
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;

  &:nth-child(even) {

	.timeline-content {
	  float: right;
	  padding: 40px 30px 10px 30px;

	  .date {
		right: auto;
		left: 0;
	  }

	  &::after {
		content: '';
		position: absolute;
		border-style: solid;
		width: 0;
		height: 0;
		top: 30px;
		left: -15px;
		border-width: 10px 15px 10px 0;
		border-color: transparent #f5f5f5 transparent transparent;
	  }
	}
  }

  &::after {
	content: '';
	display: block;
	clear: both;
  }
}

.timeline-content-body{
  padding: 1rem 2rem;

  @include sm{
	padding: 1rem 0.5rem;
  }
}

.timeline-content {
  position: relative;
  width: 45%;
  border-radius: 4px;
  background: $brand_grigio;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);

  &::after {
	content: '';
	position: absolute;
	border-style: solid;
	width: 0;
	height: 0;
	top: 30px;
	right: -15px;
	border-width: 10px 0 10px 15px;
	border-color: transparent transparent transparent #f5f5f5;
  }
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: $brand_rosso;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

/*a {
  background: $primary;
  color: $text;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .6);

  &:hover, &:active, &:focus {
	background: darken($primary, 10%);
	color: $text;
	text-decoration: none;
  }

}*/

.timeline-card {
  padding: 0!important;

  p {
	padding: 0 20px;
  }

  a {
	margin-left: 20px;
  }
}

.timeline-item {

  &:nth-child(1) {
	.timeline-img-header {
	  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('/img/ufficio-tecno-service-about.jpg') center center no-repeat;
	  background-size: cover;
	}
  }

  &:nth-child(2) {
	.timeline-img-header {
	  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('/img/stock-photo-service-engineer-working-with-laptop-at-heat-electric-power-stat-464399021.jpg') center center no-repeat;
	  background-size: cover;
	}
  }

  &:nth-child(3) {
	.timeline-img-header {
	  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('/img/tecnici-specializzati-operai-techno-service-genova.jpg') center center no-repeat;
	  background-size: cover;
	}
  }

  &:nth-child(5) {
	.timeline-img-header {
	  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('https://hd.unsplash.com/photo-1444093826349-9ce8c622f4f3') center center no-repeat;
	  background-size: cover;
	}
  }

  &:nth-child(6) {
	.timeline-img-header {
	  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('https://hd.unsplash.com/photo-1471479917193-f00955256257') center center no-repeat;
	  background-size: cover;
	}
  }

  &:nth-child(8) {
	.timeline-img-header {
	  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('https://hd.unsplash.com/photo-1466840787022-48e0ec048c8a') center center no-repeat;
	  background-size: cover;
	}
  }

  &:nth-child(10) {
	.timeline-img-header {
	  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('https://hd.unsplash.com/photo-1447639703758-f525f36456bf') center center no-repeat;
	  background-size: cover;
	}
  }

  &:nth-child(11) {
	.timeline-img-header {
	  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('https://hd.unsplash.com/photo-1469429978400-082eec725ad5') center center no-repeat;
	  background-size: cover;
	}
  }
}

.timeline-img-header {

  height: 200px;
  position: relative;
  margin-bottom: 20px;

  h2 {
	color: $text;
	position: absolute;
	bottom: 5px;
	left: 20px;
  }
}

//blockquote {
//  margin-top: 30px;
//  color: $secondary-text;
//  border-left-color: $primary;
//  padding: 0 20px;
//}

.date {
  background: $brand_rosso;
  display: inline-block;
  color: $white;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {

  .timeline {

	&::before {
	  left: 50px;
	}

	.timeline-img {
	  left: 50px;
	}

	.timeline-content {
	  max-width: 100%;
	  width: auto;
	  margin-left: 70px;
	}




	.timeline-item {

	  &:nth-child(even) {

		.timeline-content {
		  float: none;

		}
	  }

	  &:nth-child(odd) {

		.timeline-content {

		  &::after {
			content: '';
			position: absolute;
			border-style: solid;
			width: 0;
			height: 0;
			top: 30px;
			left: -15px;
			border-width: 10px 15px 10px 0;
			border-color: transparent #f5f5f5 transparent transparent;
		  }
		}

	  }
	}
  }

}




/********CIRCLES DIAGRAM***********/
:root{
  --main-color1: #CE208C;
  --main-color2: #fe6223;
  --main-color3: #60aa31;
  --main-color4: #0476ae;
}
.serviceBox{
  color: #555;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  padding: 0 10px;
}
.serviceBox .service-icon{
  background-color: #fff;
  line-height: 104px;
  height: 130px;
  width: 130px;
  padding: 6px;
  font-size: 55px;
  margin: 0 auto 50px;
  border: 7px solid var(--main-color1);
  border-radius: 50%;
  display: block;
  position: relative;
  z-index: 1;
}
.serviceBox .service-icon:before,
.serviceBox .service-icon:after{
  content: '';
  background-color: var(--main-color1);
  height: 60px;
  width: 7px;
  opacity: 0;
  transform: translateX(-50%) rotateY(180deg);
  position: absolute;
  left: 50%;
  top: 100%;
  z-index: -1;
  transition: all 0.3s;
}
.serviceBox .service-icon:after{
  top: 0;
  background-color: #fff;
  height: 30px;
  width: 30px;
  border: 7px solid var(--main-color1);
  border-radius: 50%;
  transform: translateX(-50%) rotateY(0);
}
.serviceBox:hover .service-icon:before{
  opacity: 1;
  transform: translateX(-50%) rotateY(0);
}
.serviceBox:hover .service-icon:after{
  opacity: 1;
  top: 138%;
}
.serviceBox .service-icon span{
  background: linear-gradient(to bottom right, rgba(0,0,0,0.25),#fff,#fff);
  font-size: 60px;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 2px 2px 0 2px rgba(0,0,0,0.25);
  display: block;
}
.serviceBox .title{
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px 0 0 0;
  margin: 0 0 10px;
  border-top: 7px solid rgba(0,0,0,0.1);
  border-radius: 35%;
  display: block;
  transition:all .3s ease 0.1s;
}
.serviceBox:hover .title{
  color: var(--main-color1);
  border-top-color: var(--main-color1);
}
.serviceBox .description{
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 1px;
}
.serviceBox.orange .service-icon,
.serviceBox.orange .service-icon:after{border-color: $brand_rosso;}
.serviceBox.orange .service-icon:before{background-color: $brand_rosso;}
.serviceBox.orange:hover .title{
  color: $brand_rosso;
  border-color: $brand_rosso;
}
.serviceBox.green .service-icon,
.serviceBox.green .service-icon:after{border-color: var(--main-color3);}
.serviceBox.green .service-icon:before{background-color: var(--main-color3);}
.serviceBox.green:hover .title{
  color: var(--main-color3);
  border-color: var(--main-color3);
}
.serviceBox.blue .service-icon,
.serviceBox.blue .service-icon:after{border-color: var(--main-color4);}
.serviceBox.blue .service-icon:before{background-color: var(--main-color4);}
.serviceBox.blue:hover .title{
  color: var(--main-color4);
  border-color: var(--main-color4);
}
@media only screen and (max-width:990px){
  .serviceBox{ margin: 0 0 30px; }
}
