@import 'app/variables';

@import "app/partner-carousel";
@import "app/call_to_action";
@import "app/map";

/********OVERRIDE BOOTSTRAP***********/
header {
  & .jumbotron {
	margin-bottom: 0;
	background: url("/img/stock-photo-oil-rig-at-late-evening-109727783.jpg") center center;
  }

  & .lead{
	background: rgba(255,255,255,0.5);
	display: flex;
	/* max-width: 28rem; */
	justify-content: center;
	justify-items: center;
	margin: 3rem 40rem;
	padding: 1rem;
	-webkit-box-shadow: 0px -8px 13px 25px rgba(255, 255,255, 0.5);
	-moz-box-shadow: 0px -8px 13px 25px rgba(255, 255,255, 0.5);
	box-shadow: 0px -8px 13px 25px rgba(255, 255,255, 0.5);

	@include xxxl{
	  margin: 3rem 33rem;
	}

	@include xxxl{
	  margin: 3rem 25rem;
	}

	@include lg{
	  margin: 3rem 10rem;
	}

	@include md{
	  margin: 0;
	}
  }

}

.home{
  & h1, & .h1{
	@include fluid-type(53px, 56px);
	font-family: $font_corpo;
	line-height: 1;
  }
}


#intro-container-section{
  & .container-fluid{
	padding-top: $section_spazio_default + 1rem;
	padding-bottom: $section_spazio_default + 1rem;
	background-image: url('/img/world-map-techno-service-genova-mappa-mondo.png');
	background-position: right;
	background-repeat: no-repeat;
  }

}

#about-container-section{
  & .container-fluid{
	padding-top: $section_spazio_default + 1rem;
	padding-bottom: $section_spazio_default + 1rem;
  }
  & .col{

  }
}


#services-container-section{
  & .container-fluid{
	padding-top: $section_spazio_default;
	padding-bottom: $section_spazio_default;
  }
}


#services-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: $section_spazio_default - 1 0;

  & .service-item {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0 1.5rem;
	@include xxs{
	  margin: 0;
	}
  }

  & .service-description {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	& div {
	  padding: 1rem;
	}
  }
}

