@import 'app/variables';

/********OVERRIDE BOOTSTRAP***********/
header {
  & .jumbotron {
	margin-bottom: 0;
	background: url("/img/stock-photo-silhouette-of-teams-engineer-and-foreman-working-at-petrochemical-oil-refinery-in-sunset-1080243251.jpg") center center;
	background-size: cover;
  }

  & .display-4{
	padding: 0 2rem;
	background: rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px -8px 13px 25px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px -8px 13px 25px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 18px 18px rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
  }
}

/*-----------service------------*/
#services-section{
  padding-top: $section_spazio_default;
  padding-bottom: $section_spazio_default_half;
}
.service-section {
  //background-image: linear-gradient(#0766b1, #003259);
  //padding-bottom: 50px;
  //padding-top: 50px;
}
.service-section:before {
  position: absolute;
  top: -100px;
  left: 0;
  content: " ";
  background-size: 100% 100px;
  width: 100%;
  height: 100px;
  float: left;
  z-index: 99;
}

.service-block {
  position: relative;
  color: $brand_nero;
}
.service-block .inner-box{
  position:relative;
  overflow:hidden;
}

.service-block .inner-box .image{
  position:relative;
}

.service-block .inner-box .image .read-more{
  position:absolute;
  right:0px;
  bottom:26px;
  left:60%;
  color:$brand_nero;
  font-size:16px;
  opacity:0;
  visibility:hidden;
  padding:15px 25px;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  background-color:rgba(255,255,255,0.80);
}

.service-block .inner-box:hover .image .read-more{
  left:40%;
  opacity:1;
  visibility:visible;
}

.service-block .inner-box .image .read-more a{
  position:relative;
  color:$brand_nero;
  font-weight:700;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.service-block .inner-box .image .read-more a .icon{
  position:relative;
  top:1px;
  margin-left:5px;
  font-size:16px;
  display:inline-block;
}

.service-block .inner-box .image .read-more a:hover{
  color:#d7a449;
}

.service-block .inner-box .image img{
  position:relative;
  width:100%;
  display:block;
}
.service-block .inner-box .lower-content {
  position: relative;
  padding-top: 10px;
  margin-bottom: 40px;
}
.service-block .inner-box .lower-content h3 {
  position: relative;
  color: $brand_nero;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.service-block .inner-box .lower-content h3 a{
  position:relative;
  color:$brand_rosso;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}
.service-section .btn {
  text-align: center;
  background: $brand_rosso;
  color: $white;
  padding: 13px 30px;
  display: block;
  max-width: 190px;
  margin: auto;
  border: 1px solid white;
  -webkit-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
  transform: perspective(122px) translateZ(0);
}
.service-section .btn:hover {
  background: $brand_nero;
  color: $white;
  border: 1px solid $brand_nero;
}
.service-section .btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $brand_nero;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border: 2px solid $brand_nero;
}

.service-section .btn:hover:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
/*-----------service Close------------*/

