@import 'app/variables';

/********OVERRIDE BOOTSTRAP***********/
header {
  & .jumbotron {
	margin-bottom: 0;
	background: url("/img/stock-photo-employees-work-rearrange-the-lettering-on-an-installation-to-work-out-successfully-on-a-white-1185561115.jpg" ) center center;
	background-size: cover;
  }

  & .display-4{
	padding: 0 2rem;
	background: rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px -8px 13px 25px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px -8px 13px 25px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 18px 18px rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
  }
}

/********WORK**********/
#work-with-us-section{
  padding-top: $section_spazio_default;
  padding-bottom: $section_spazio_default;
}
