/********CTA**********/

.calltoaction{
  position: relative;
  width:auto;
  padding: 15px 25px;
  border: 1px solid black;
  //margin-top: 10px;
  //margin-bottom: 10px;
  //border-radius: 5px;

  & .row{
	display:table;
	width: calc(100% + 30px);
  }

  & .row > [class^="col-"],
  & .row > [class*=" col-"]{
	float:none;
	display:table-cell;
	vertical-align:middle;
  }

  &.calltoaction-danger{
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
  }

  &.calltoaction-danger .cta-button .btn{
	border-color:#fff;
  }



}





.cta-contents{
  padding-top: 10px;
  padding-bottom: 10px;
}

.cta-title{
  margin: 0 auto 15px;
  padding: 0;
}

.cta-desc{
  padding: 0;
}

.cta-desc p:last-child{
  margin-bottom: 0;
}

.cta-button{
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 769px){
  .calltoaction .row{
	display:block;
	width: auto;
  }

  .calltoaction .row > [class^="col-"],
  .calltoaction .row > [class*=" col-"]{
	float:none;
	display:block;
	vertical-align:middle;
	position: relative;
  }

  .cta-contents{
	text-align: center;
  }
}
