/********RESPONSIVE TYPOGRAPHY***********/

html {
}
body {
  @include fluid-type(16px, 17px);
  font-family: $font_corpo;
}
p {
  @include fluid-type(16px, 17px);
  line-height: 2rem;
}

h2,h3,h4,h5,h6,.h2,.h3,.h4,.h5,.h6{
  font-family: $font_titoli;
  line-height: 1.5;
  font-weight: bold;
}

h1, .h1{
  @include fluid-type(30px, 56px);
  font-family: $font_corpo;
  line-height: 1;
}

.display-4{
	@extend .h1;
  font-weight: bold;
  text-transform: uppercase;
}

h2, .h2{
  @include fluid-type(23px, 33px);
}
h3, .h3{
  @include fluid-type(18px, 21px);
  line-height: 1.5;
  //letter-spacing: 1.4px;
}

footer{
  background: $brand_nero;

  & p{
	@include fluid-type(15px, 16px);
	line-height: 1.5rem;


  }
  & h3{
	margin-bottom: 1.5rem !important;
	@include sm{
	  margin-top:2rem;
	}
  }

  & .logo{
	margin-bottom: 1rem;
  }

  & #menu-useful-link{

	& h3{
	  @include md{
		margin-top:2rem;
	  }
	}


  }
}


/********ELEMENTS***********/
hr{
  margin-top: 1rem;
  margin-bottom: 2rem;
  &.hr-default{
	border-top: 3px solid $brand_rosso;
	margin-right: 92%;
  }
  &.hr-default-white{
	border-top: 3px solid #FFFFFF;
	margin-right: 92%;
  }
  &.hr-default-center{
	border-top: 3px solid $brand_rosso;
	margin-right: 46%;
	margin-left: 46%;
  }

}

/********COLORS***********/

.text-nero{
  color: $brand_nero;
}
.text-bianco{
  color: $white;
}
.text-grigio{
  color: $brand_grigio;
}
.text-rosso{
  color: $brand_rosso;
}

.text-grigio-medium{
  color: $gray-500;
}
.bkg-bianco{
  background: $white !important;
}
.bkg-nero{
  background: $brand_nero;
}
.bkg-grigio{
  background: $brand_grigio;
}
.bkg-grigio-dark{
  background: $brand_grigio_dark;
}
.bkg-rosso{
  background: $brand_rosso;
}



.bottom-text {
  margin-top: 40px;
  border-top: 2px solid #e5e7e9;
  a {
	border-bottom: 1px solid #e5e7e9;
  }
  p {
	max-width: 650px;
  }
}

.hidden {
  overflow: hidden;
  display: none;
  visibility: hidden;
}

/********TOBAR**********/
#topbar-info-section{
  @include fluid-type(12px, 14px);
  padding: 0.5rem;

  & .row{
	align-items: center;
  }

  & .col-left{
	text-align: left;
  }

  & .col-right{
	text-align: right;

	@include md{
	  text-align: left;
	}
  }
}

.topbar-certification {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;

  @include md{
	justify-content: center;
  }

  & > div{
    margin: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
  }
	& span.text-small{
	  @include fluid-type(11px, 15px);
  }

  & img{
	margin-right: 1rem;
  }
}

#topbar-logo-section{
	@include sm{
	  text-align: center;
  }
  & .logo{
	@include md{
	  width: 5rem;
	}
  }

}

@media screen and (max-width: 769px) and (orientation: landscape) {
  #topbar-logo-section{
	& .col-md-4{
		text-align: center;
	}
  }

  .container{
	max-width: 600px;
  }
}

/********OVERRIDE BOOTSTRAP***********/
.jumbotron {
  padding: 6rem 2rem;
  border-radius: 0;

  &.internal-page{
	padding: 13rem 0rem;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

ul.navbar-nav.text-center {
  justify-content: center;
  width: 100%;
}

.breadcrumb {
  justify-content: center;
}



