//Fluid typography
@mixin fluid-type($min-font-size: 12px, $max-font-size: 21px, $lower-range: 420px, $upper-range: 1280px) {

  font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));

  @media screen and (min-width: $lower-range) {
	font-size: $min-font-size;
  }
  @media screen and (min-width: $upper-range){
	font-size: $max-font-size;
  }
}

//Responsive Breakpoint
// Screen size variables
$screen-xxs-min: 320px;  // Tiny phones
$screen-xs-min: 425px;  // Tiny phones
$screen-sm-min: 600px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 800px;  // Small tablets (portrait view)
$screen-lg-min: 1024px;  // Tablets and small desktops
$screen-xl-min: 1280px; // Large tablets and desktops
$screen-xxl-min: 1440px; // Large tablets and desktops
$screen-xxxl-min: 1680px; // Large tablets and desktops

$screen-xxs-max: 320px;  // Tiny phones
$screen-xs-max: 425px;  // Tiny phones
$screen-sm-max: 600px;  // Small tablets and large smartphones (landscape view)
$screen-md-max: 800px;  // Small tablets (portrait view)
$screen-lg-max: 1024px;  // Tablets and small desktops
$screen-xl-max: 1280px; // Large tablets and desktops
$screen-xxl-max: 1440px; // Large tablets and desktops
$screen-xxxl-max: 1680px; // Large tablets and desktops

// Mixins
@mixin xxs { @media (max-width: #{$screen-xs-max}) {@content;} } // Tiny devices
@mixin xs { @media (max-width: #{$screen-xs-max}) {@content;} } // Tiny devices
@mixin sm { @media (max-width: #{$screen-sm-max}) {@content;} } // Small devices
@mixin md { @media (max-width: #{$screen-md-max}) {@content;} } // Medium devices
@mixin lg { @media (max-width: #{$screen-lg-max}) {@content;} } // Large devices
@mixin xl { @media (max-width: #{$screen-xl-max}) {@content;} } // Extra large devices
@mixin xxl { @media (max-width: #{$screen-xxl-max}) {@content;} } // Extra large devices
@mixin xxxl { @media (max-width: #{$screen-xxxl-max}) {@content;} } // Extra large devices


@mixin xxs-min { @media (min-width: #{$screen-xs-min}) {@content;} } // Tiny devices
@mixin xs-min { @media (min-width: #{$screen-xs-min}) {@content;} } // Tiny devices
@mixin sm-min { @media (min-width: #{$screen-sm-min}) {@content;} } // Small devices
@mixin md-min { @media (min-width: #{$screen-md-min}) {@content;} } // Medium devices
@mixin lg-min { @media (min-width: #{$screen-lg-min}) {@content;} } // Large devices
@mixin xl-min { @media (min-width: #{$screen-xl-min}) {@content;} } // Extra large devices
@mixin xxl-min { @media (min-width: #{$screen-xxl-min}) {@content;} } // Extra large devices
@mixin xxxl-min { @media (min-width: #{$screen-xxxl-min}) {@content;} } // Extra large devices

$white:    #fff !default;
$brand_rosso: #E43900;
$brand_nero: #2C2C2C;
$brand_grigio: #ECECEC;
$brand_grigio_dark: #313131;

//$font_titoli : 'Oswald', sans-serif;
$font_titoli : 'Montserrat', sans-serif;
$font_corpo : 'Lora', serif;
$section_spazio_default : 4rem;
$section_spazio_default_half : 4rem;
